body{
    padding: 0;
    margin: 0;
}
h1{
    color: brown;
    background-color: aquamarine;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    border-bottom: 2px solid black;
}
img{
    width: 60vw;
    height: calc(100vh - 120px);
    border-radius: 10px;
    opacity: .25;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
h2{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: 900;
    font-size: 35px;

}
.toss{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    background-color: lightgreen;
    cursor: pointer;


}
.toss:hover{
color: aquamarine;
    background-color: green;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.rotate{
    /* transform: rotate(180deg);
    transition: transform 1s ease; */
    background-color: red;
}
